@model Clouds.ViewModels.FileViewModel

<div class="card border-0 shadow bg-body rounded" style="width:7rem;">
    <a asp-route-path="@Model.Path" class="text-decoration-none link-secondary">
        <img src="@Model.Icon" class="card-img-top" alt="icon">
        <h6>
            <div class="card-body text-truncate">
                @Model.Name
            </div>
        </h6>
    </a>
    <div class="card-footer m-0 p-0 ">
        <div class="list-group list-group-horizontal list-group-flush bg-transparent border-0">
            <a class="list-group-item list-group-item-action" asp-route-path="@Model.Path" asp-controller="File" asp-action="Download"><img src="~/Icons/download.svg"></a>
            <a class="list-group-item list-group-item-action" asp-route-path="@Model.Path" asp-controller="File" asp-action="Delete"><img src="~/Icons/delete.svg"></a>
            <a class="list-group-item list-group-item-action" asp-route-path="@Model.Path" asp-controller="File" asp-action="Share"><img src="~/Icons/share.svg"></a>
        </div>
    </div>
</div>